body {
  margin: 0;
}
canvas {
  border: 1px solid red;
}

#console-container {
  font-size: 10px;
  padding-top: 15px;
  position: fixed;
  border: 1px solid red;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgrey;
  height: 200px;
  border-top: 2px blue solid;
  width: 100%;
  overflow: hidden;
  list-style: none;
}
